* {
    margin: 0;
    padding: 0;
    border: 0;
}

.screen {
    width: 100%;
    height: 100vh;
    background-color: #9DBEBB;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main container for form and image */ 
.container {
    max-width: 954px;
    min-height: 594px;
    width: 100%;
    box-shadow: 0 0 10px gray;

    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

/* container for form */ 
.form {
    max-width: 954px;
    width: 100%;
    background-color: #BE0909;
    padding: 65px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FEFFFF;
}

/* container for individual form fields */ 
.form__name,
.form__message {
    max-width: 400px;
    width: 100%;
    min-height: 72px;
}

.form__topic,
.form__email {
    max-width: 220px;
    width: 100%;
    min-height: 72px;
}

/* input section in form fields */
.input {
    display: block;
    background-color: #BE0909;
    border-bottom: 1px solid #9DBEBB;
    color: #FDFFFF;
    margin: 30px 0;
}

::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.3em;
    color: #FDFFFF;
    padding-left: 10px;
}

textarea {
    resize: none;
    overflow: hidden;
}

/* orange section next to form */
.aside {
    max-width: 345px;
    width: 100%;
    background-color: #FFB039;
}

/* button */
.form__submit {
    display: flex;
    justify-content: center;
}

.btn--submit {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;

    background-color: #468189;
    border-radius: 25px;
    width: 202px;
    height: 48px;
    box-shadow: 0 0 8px black;
}

/* image */
.image {
    position: absolute;
    top: 52px;
    left: 342px;
}