* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #fae3e3;
}

 /* banner on top */
.banner {
    width: 100%;
    min-height: 300px;
    background-color: #cd241f;
    color: white;
    font-family: 'Yusei Magic', sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.banner h1 {
    font-size: 40px;
}

/* form styles thruout */
.label  {
    font-family: 'Yusei Magic', sans-serif;
    color: #cd241f;
    line-height: 2;
}

::placeholder {
    font-family: 'Yusei Magic', sans-serif;
    color: #eaadad;
}

.input {
    line-height: 3;
}

/* name section */
.form__name {
    flex-direction: column;
}

.input--name {
    column-gap: 50px;
}